body {
	background: grey;
}

#content {
	margin: 0 auto;
}
#content h1 {
	text-align: center;
	font-weight: bold;
}
#content ul {
	list-style: none;
}
#content li:nth-child(odd) {
	background: #aaa;
}
#content li:nth-child(even) {
	background: #ccc;
}